
print("Hello");

box MyBox
[
    meta meta1(){ name("background-color");  content("green");  break; }
]

print ("Bye");

var MyString1: "String 1";
var MyVar1 = 12345678444;
var MySum = 1 + 2;
var SuperExpression = 1 + 2 * 3;
var MyString2: "String 2";

exit;

